@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?j4h9c');
  src:  url('icomoon.eot?j4h9c#iefix') format('embedded-opentype'),
    url('icomoon.ttf?j4h9c') format('truetype'),
    url('icomoon.woff?j4h9c') format('woff'),
    url('icomoon.svg?j4h9c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-arrow-rigth:before {
  content: "\e90f";
}
.icon-arrow-left:before {
  content: "\e910";
}
.icon-linkedin:before {
  content: "\e90e";
}
.icon-add-calendar:before {
  content: "\e907";
}
.icon-alert:before {
  content: "\e908";
}
.icon-calendar:before {
  content: "\e909";
}
.icon-check:before {
  content: "\e90a";
}
.icon-document:before {
  content: "\e90b";
}
.icon-facebook:before {
  content: "\e90c";
}
.icon-home:before {
  content: "\e90d";
}
.icon-instagram:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
.icon-live:before {
  content: "\e902";
}
.icon-share:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-shout:before {
  content: "\e905";
}
.icon-user-group:before {
  content: "\e906";
}
